.page__footer {
  height: 120px;
  background-color: $color5;
  font-family: $font-second;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;

}