.page__footer {
  height: 120px;
  background-color: $color5;
  font-family: $font-second;
  line-height: 20px;
  @include flex-center;
  font-size: 10px;
  @media #{$mobile-small} {
    font-size: 14px;
  }

}