@import '../modules/variables';

.page__header {
  background-image: url("../img/banner.jpg");
  height: 740px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $color1;
  position: relative;
  margin-bottom: 40px;
  h1 {
    font-family: $font-first;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 1px;
    @media screen and (min-width: 500px) {
      font-size: 70px;
    }
    @media screen and (min-width: 620px) {
      font-size: 100px;
    }
    @media screen and (min-width: 850px) {
      font-size: 150px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 200px;

    }
  }
  p {
    margin: 5px;
    font-size: 12px;
    font-family: $font-second;
    font-weight: 400;
    @media screen and (min-width: 500px){
      font-size: 18px;
    }
  }
  .hamburger__menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    .line {
      margin: 5px 0;
      height: 3px;
      width: 35px;
      background-color: $color1;
      transition: 0.5s;
    }
    @media screen and (min-width: 620px){
      display: none;
    }

  }
  .active {
    .up {
      transform: rotate(-45deg) translate(-8px, 3px);
    }
    .middle {
      opacity: 0;
    }
    .down {
      transform: rotate(45deg) translate(-8px, -4px);
    }
  }

  .page__navigation {
    font-family: $font-second;
    position: absolute;
    top: 0;
    z-index: 2;
    transition: 0.5s;
    width: 0;
    height: 100vh;
    left: 0;
    @media screen and (min-width: 620px) {
      width: auto;
      left: auto;
    }


  }
  .big-menu{
    width: 100vw;
    background: $color4;
  }

  .navigation__menu {
    display: none;
    @media screen and (min-width: 620px) {
      display: flex;
      justify-content: center;
    }

  }
  .menu-hamburger {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  .menu__element {
    padding: 40px 30px 30px 30px;
    margin: 10px;
    a {
      text-decoration: none;
      color: $color2;
      display: block;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        width: 0;
        visibility: hidden;
        border: 1px solid $color1;
        bottom: -5px;
        left: 0;
        transition: 0.3s;
      }
      &:hover:after {
        width: 100%;
        visibility: visible;
      }
    }
  }
  .hamburger {
    font-size: 30px;


  }
  .menu__element.hamburger a{
    &:after {
      border-width: 2px;
      bottom: -8px;
    }
    &:hover:after {
      width: 40%;
    }
  }
}
.stop-scroll {
  overflow: hidden;
}





