.page__updates {
  .page__content-header {
    margin-bottom: 10px;
    span {
      color: $color3;
    }
  }
  .instagram-img {
    width: 250px;
    height: 250px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  a {
    margin-left: 20px;
  }

}