@import 'variables';

* {
  box-sizing: border-box;
}
.page__content {
  position: relative;
  .page__media-links {
    text-align: center;
    a {
      padding: 5px;
    }
    img {
      width: 45px;
      height: 45px;

    }
    @media screen and (min-width: 1200px) {
      position: fixed;
      left: 0;
      bottom: 200px;
      img {
        display: block;
      }

    }


  }
  &-header {
    font-family: $font-first;
    font-size: 40px;
    margin: 30px 0;
    letter-spacing: 1px;

  }
  p {
    font-family: $font-second;
    font-size: 14px;
    line-height: 20px;
  }


}
a {
  color: $color3;
  font-family: $font-second;
}
